.inputContainer {
    position: relative;
    width: 100%;
}

.inputContainer1 {
    margin-top: 25px;
}

.inputContainer2 {
    margin-top: 12px;
}

.campo {
    color: var(--foreground-black);
    width: 100%;
    height: 50px;
    padding-top: 2px;
    padding-left: 38px;
    padding-right: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 18px;
    background-color: white;
    border: 2px solid var(--foreground-roxo-fraco);
    border-radius: 3.5px;
    transition: border 200ms;
    background-position: 7px 8px;
    background-repeat: no-repeat;
    transition: border-color 200ms;
    filter: none;
}

.campo:focus {
    border-color: var(--foreground-roxo-brilhante);
    outline: none;
}

.inputPlaceholder {
    position: absolute;
    height: 18px !important;
    background: linear-gradient(0deg, white, var(--background));
    align-items: center;
    top: -12;
    left: 10;
    padding: 0 3 3 3;
    color: var(--foreground-roxo-fraco);;
    transition: color 200ms, opacity 250ms;
    opacity: 0;
}