* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    width: 100%;
}

body {
    display: flex;
}

#root {
    width: 100%;
    display: flex;
    flex: 1;
}

.global_gradient {
    background: linear-gradient(#606c88, #404d6c) !important;
}

.Toastify__toast {
    background: #312e2e !important;
}

.Toastify__toast-body {
    display: flex;
    flex-direction: row;
}

.MuiAutocomplete-option[aria-selected="true"] {
    background-color: #7079c9 !important;
    color: white !important;
}

/* MISC */
input::placeholder {
    color: rgb(209, 209, 209);
}

input::-ms-input-placeholder {
    color: rgb(209, 209, 209)
}

::-moz-selection {
    color: aliceblue;
    background:#88a4e6;
}

::selection {
    color: aliceblue;
    background:#88a4e6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}