.fundo {
    background: linear-gradient(var(--background-roxo-claro),var(--background-roxo-escuro)) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.centro {
    width: 720px;
    height: 538px;
    background-color: var(--background);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.titulo {
    white-space: nowrap;
    font-size: 20px;
    text-align: center;
    color: rgb(84, 113, 156);
    font-weight: 500 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    flex-grow: 1;
    overflow: hidden;
}

/* bottom */

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    background-color: rgba(219, 221, 224, 0.692);
}

.bottomTitle {
    font-size: 15px;
    color: var(--foreground-roxo-escuro);
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.bottomTitleLink {
    color: rgb(40, 167, 69);
    font-weight: 600;
    margin-left: 4px;
    text-decoration: none;
}

.bottomTitleLink:hover {
    text-decoration: underline;
}

/* inputs */

.inputContainer1 {
    margin-top: 25px;
}

.inputContainer2 {
    margin-top: 12px;
}

.alternarSenha {
    position: absolute;
    right: 15;
    height: 100% !important;
    color: var(--foreground-cinza-escuro);
    cursor: pointer;
    
}

.loginSenha {
    padding-right: 45px !important;
}

/* Botões */

.botaoLogin {
    width: 100%;
    margin-top: 10px !important;
    text-transform: none !important;
    height: 38px !important;
}

.spinner > div > svg {
    color: white !important;
    fill: white !important;
    width: 28px !important;
    height: 28px !important;
}

/* links */

.linksContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px
}

.linksColunas {
    text-align: center;
}

.linkDiv {
    position: relative;
    color: slategray;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: color 0.7s;
    height: 24px;
}

.linkDiv > a {
    color: unset !important;
    text-decoration: none !important;
}

.linkDiv:hover {
    color: rgb(73, 71, 219);
    cursor: pointer;
    padding-bottom: 2px;
}

.linkDiv:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(100, 98, 240);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.linkDiv:hover:after {
    position: absolute;
    width: 100%;
    left: 0;
}