.container {
    background-color: var(--background-cinza-padrao);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.numero {
    font-size: 120px;
    color: var(--foreground-roxo-escuro);
    text-decoration: underline;
    text-align: center;
}

.aviso {
    color: var(--foreground-roxo-escuro);
}

.a {
    text-decoration: none !important;
}

.botao {
    width: 100%;
    margin-top: 20px !important;
    color: var(--foreground-cinza-escuro)
}
