* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    height: 100vh;
    width: 100vw;
}

#root {
    width: 100%;
    height: 100%;
}

:root {
    --background: rgb(250, 250, 250);
    --background-cinza-padrao: rgb(240, 241, 243);
    --background-roxo-claro: rgb(96, 108, 136);
    --background-roxo-escuro: rgb(64, 77, 108);
    --background-cinza-claro: rgb(219, 221, 224, 0.692);
    --foreground-roxo-claro: rgb(136, 164, 230);
    --foreground-roxo-escuro: rgb(63, 76, 107);
    --foreground-roxo-brilhante: rgb(130, 127, 254);
    --foreground-roxo-fraco: rgb(147, 146, 185);
    --foreground-link-verde: rgb(40, 167, 69);
    --foreground-cinza-claro: rgb(158, 158, 158);
    --foreground-cinza-escuro: rgb(144, 146, 148);
    --foreground-black: rgb(23, 22, 26);
    --foreground-vermelho-erro: rgb(228, 74, 74);

}

/* MISC */
input::placeholder {
    color: rgb(209, 209, 209);
    /* color: var(--foreground-cinza-claro); */
}

input::-ms-input-placeholder {
    color: rgb(209, 209, 209)
    /* color: var(--foreground-cinza-claro); */
}

::-moz-selection {
    color: aliceblue;
    background: var(--foreground-roxo-claro);
}

::selection {
    color: aliceblue;
    background: var(--foreground-roxo-claro);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}