.alertaContainer {
    width: 100%;
}

.alertaBase {
    width: 100%;
    box-sizing: border-box;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    border-radius: 3px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.alertaBase[opacity=0] {
    display: none !important;
}

.alertaBase[opacity=1] {
    display: block !important;
}

.alertaLeft {
    display: flex;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px
}

.alertaRight {
    margin-left: 7px;
    margin-right: 15px
}

.icon {
    margin-right: 8px;
}